<div *ngFor="let child of childList">
    <label>
        <input type="radio" name="root" (change)="updateParent(child.key)">
        {{child.key}}
    </label>
    <app-json-tree-structure (parentChanged)="updateParent($event)" [childList]="child.child" *ngIf="child.child"></app-json-tree-structure>
</div>