<label>Type the key value and press enter to add: </label>
<input type="text" [(ngModel)]="value" (keyup.enter)="onEnter(baseStructure)" />
<br>
<div *ngFor="let base of baseStructure">
  <label>
    <input [checked]="parent === base.key" type="radio" name="root" (change)="updateParent(base.key)">
    {{base.key}}
  </label>
  <app-json-tree-structure (parentChanged)="onParentChanged($event)" [childList]="base.child"></app-json-tree-structure>
</div>
<br><br>
<button *ngIf="baseStructure.length >= 1" (click)="navigateForm()">Submit</button>